body{
  background-color: #712B75
}

h1{
  color: white;
  text-align: center;
  font-family: Ubuntu,sans-serif;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 50%;
}
p{
color: white;
text-align: center;
}
table{
  table-layout: inherit;
}
